<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Visualization</title>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <script src="/static/js/test.js"></script>

    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">
    
  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/" style="font-size: 40px">QinRen</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="/">
        <i class="fas fa-bars"></i>
      </button>

      

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
       
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="upload">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Functions</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Choose your functions:</h6>
            <a class="dropdown-item" href="upload_h">LGBM</a>
            <a class="dropdown-item" href="upload_s">STOCK PRIDICTION</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Functions:</h6>
           <!--  <a class="dropdown-item" href="charts">Function 1</a>
            <a class="dropdown-item" href="charts">Function 2</a> -->
          </div>
        </li>

        
      </ul>

      <div id="content-wrapper">
        <h1 style="font-size: 50px;font-family: sans-serif;text-align: center">
              <strong>SalePrice</strong></h1>
        
          <div id="myChart" style="width: 100%"></div>
        <script>
            zingchart.render({
              id: 'myChart',
              data: {
                type: 'line',
                series: [{
                  values: {{mydata['SalePrice']}},
                }],
                "scale-x": {'zooming': true},
              }
            });
          </script>
          <div id="scatter" style="width: 100%;border:1px;margin:20px auto;">
        </div>
          <script>
            zingchart.render({
              id: 'scatter',

              data: {
                type: 'scatter',
                series: [{
                  values:[ 
                  {% for each in mydata['Area_Price'] %}
                     {{each}},
                  {% endfor %}
                  ]
                }],
                "scale-x": {'zooming': true},
              }
            });
          </script>
          <div id="Piechart" style="width: 45%;float: left;">
            <h2 style="font-size: 20px;font-family: sans-serif;text-align: center">
              <strong>The number of Neighborhood(pie)</strong></h2>
          </div>
          <script >
            zingchart.render({
              id:'Piechart',
              data:{
              "type":"pie3d",
              "title":{
                "text":""
              },
              "scale-x": {'zooming': true},
              "series":[
              {% for each in mydata['Neighborhood_num'] %}
                { "values":[{{each}}],},
              {% endfor %}
                
              ]
            }
            })
          </script>
          <div id="radar" style="width: 45%;float: left">
            <h2 style="font-size: 20px;font-family: sans-serif;text-align: center">
              <strong>The number of Neighborhood(radar)</strong></h2>
          </div>
          </div>
          <script>
            zingchart.render({
              id:'radar',
              data:{
                type:'radar',
                series:[{
                  'values':{{ mydata['Neighborhood_num'] }}
                }],
                "scale-x": {'zooming': true},
              }
            })
          </script>


        
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Qinren.org 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
   <script src="/static/js/demo/chart-area-demo1.js"></script>
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-bar-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

  </body>

</html>
